{% extends 'base.html' %}

{% block content %}
<h1>
    <h1>
        This is your dashboard.
    </h1>

    {% if error %}
        <p>Error while accessing your Google Photos data: {{ error }}</p>
    {% else %}
        <p>
            Your last photo has id {{ last_photo.id }}.
        </p>
        <p>
            Meta data: {{ last_photo.mediaMetadata }}
        </p>
        <p>
            <a href="{{ last_photo.productUrl }}">View it in Google Photos.</a>
        </p>
    {% endif %}}
</h1>
{% endblock %}
